@media (min-width: 1024px) {

  .result-page {
    padding: 40px 8%;
  }

  .result-header {
    font-size: 2.4rem;
  }

  .result-card {
    max-width: 900px;
    padding: 28px;
  }

  .student-name {
    font-size: 2.3rem;
  }

  .info-box {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 35px;
  }

  .info-item span {
    font-size: 1.45rem;
  }

  .marks-summary {
    flex-direction: row;
    justify-content: space-between;
  }

  .marks-table {
    display: table;
  }
}
